<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819469196341-v255jo340s4qv0ipu6c43u79jdjvhf5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819469196341-v255jo340s4qv0ipu6c43u79jdjvhf5e</string>
	<key>API_KEY</key>
	<string>AIzaSyBmjzz_fp9iTqhnZ_6Zr98LWkXGRAldGvM</string>
	<key>GCM_SENDER_ID</key>
	<string>819469196341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GBC.ParkingApp-Zahra</string>
	<key>PROJECT_ID</key>
	<string>parkingappzahra</string>
	<key>STORAGE_BUCKET</key>
	<string>parkingappzahra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819469196341:ios:941955a81137f8992f657c</string>
</dict>
</plist>